{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}

<div class="login-register-div">
    <div class="login-register-box">
        <h1>Board Game Buddy</h1>

        <form method="post" action="{% url 'account-login' %}">
            {{ form.as_p }}
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ next }}">
            <button>Log in</button>
        </form>
    </div>

    <div class="second-option">
        <p>Don't have an account? <a href="{% url 'account-register' %}">Register</a></p>


    </div>
</div>

{% endblock %}