{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Password change</title>
{% endblock %}

{% block content %}

    <div class="password-change-div">

        <div class="password-change-box">
            <h1>Password change</h1>

            <form method="post" action="{% url 'account-password-change' %}">
                {{ form.as_div }}
                {% csrf_token %}
                <button>Change password</button>
            </form>

        </div>
    </div>
{% endblock %}