{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="profile-information">

            <div class="profile-box">

                <div class="profile-photo">
                    <!-- Profile Image -->
                    {% if object.buddyprofile.profile_picture %}
                        <img src="/media/{{ object.buddyprofile.profile_picture }}" alt="profile_photo">
                    {% else %}
                        <img src="{% static 'images/person.png' %}" alt="no_profile_photo">
                    {% endif %}
                </div>
                <div class="info-list">
                    <div class="profile-status">
                        <h1>{{ object.email }}</h1>
                        {% if object.buddyprofile.is_public %}
                            <h2>Status: <span> Public account</span></h2>
                        {% else %}
                            </h2>Status: <span> Private account</span></h2>
                        {% endif %}
                    </div>


                    <div class="content-urls">
                        <a href="{% url 'account-profile-edit' %}">Edit</a>
                        <a href="{% url 'account-password-change' %}">Change Password</a>
                        <a href="{% url 'account-delete' %}">Delete</a>
                    </div>
                </div>

            </div>

            <div class="profile-details">

                {% if object.buddyprofile.nickname %}
                    <h3>Nickname: <span>{{ object.buddyprofile.nickname }}</span></h3>
                {% else %}
                {% endif %}

                {% if object.buddyprofile.first_name %}
                    <h3>First name: <span>{{ object.buddyprofile.first_name }}</span></h3>
                {% else %}
                {% endif %}

                {% if object.buddyprofile.last_name %}
                    <h3>Last name: <span>{{ object.buddyprofile.last_name }}</span></h3>
                {% else %}
                {% endif %}

                {% if object.buddyprofile.age %}
                    <h3>Age: <span>{{ object.buddyprofile.age }}</span></h3>
                {% else %}
                {% endif %}

                {% if object.buddyprofile.location %}
                    <h3>Location: <span>{{ object.buddyprofile.location }}</span></h3>
                {% else %}
                {% endif %}

                {% if object.buddyprofile.personal_interests %}

                    <h3>Interests: <span>{{ object.buddyprofile.personal_interests }}</span></h3>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}