{% extends 'base.html' %}
{% load static %}


{% load game_extras %}

{% block title %}
    <title>{{ game.title }}</title>
{% endblock %}

{% block content %}

    <div class="game-container">

        <div class="game-window">

            <div class="photo-and-info">
                <div class="photo-game-box">
                    <img src="{{ game.photo_url }}" alt="game {{ game.pk }}">
                </div>

                <div class="info-game-box">
                    <p id="game_{{ game.pk }}"><span>Title:</span> {{ game.title }} </p>

                    <p><span>Release Year:</span> {{ game.release_year }} </p>
                    <p><span>Publisher:</span> {{ game.publisher }} </p>
                    <p><span>Genre:</span> {{ game.genre }} </p>
                    <p><span>Max number of players:</span> {{ game.max_players }} </p>
                    <p><span>Complexity:</span> {{ game.complexity }} </p>
                </div>

            </div>
            <div class="description-and-rating">

                <div class="game-description-box">
                    <p><span>Description:</span> {{ game.description }} </p>

                </div>

                <div class="game-rating-box">
                    <!--Checks whether there is an authenticated user-->
                    {% if not user.is_authenticated %}

                    {% else %}
                        <!--Checks whether current user has already rated this game-->
                        {% if game.pk in user_rated_games_by_pk %}
                            <h4>You've already rated this game at: {{ game.gamerating_set.filter|filter_by_buddy:auth_user }}</h4>

                        {% else %}
                            <form id="rating-form" method="post" action="{% url 'game-rate' game.pk %}">
                                {{ form }}
                                {% csrf_token %}

                                <button>Rate</button>

                            </form>
                            <span>(Rates can be between 1.0 and 10.0)</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}