


@font-face {
    font-family: MedievalSharp;
    src: url(../fonts/MedievalSharp-Regular.ttf);
}
  

.login-register-div {
	margin-top: 13%;

    display: block;
}

.login-register-box, .second-option {
	display: block;
	width: 500px;
	/* background-color: rgb(238, 232, 229); */
	/* background-color: rgb(255, 255, 255); */
    background-image: url('../images/fantasy-login.jpg');
    background-position: center;
	background-size: 170%;

	border: 1px solid rgb(156, 152, 152);
	padding: 80px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: 1px solid;
	box-shadow: 1px 2px 3px #888888;

	border-style: double;
    border-width: 5px;
    /* border-color: #d2bc6c; */
	border-color: #452716;
	border-radius: 15px;

    margin-left: auto;
    margin-right: auto;
}

.login-register-box h1 {
	font-family: 'MedievalSharp', sans-serif;
	font-size: 40px;
	text-align: center;
	margin-top: -10px;

	color: white;
	
}

.login-register-box label {
	display: none;
}

.login-register-box input {
	background-color: rgb(240, 230, 230);
	opacity: 80%;
	/* border-color: #d2bc6c; */
	/* border: 0.1px solid rgb(186, 184, 184); */
	border: 0.1px solid #d2bc6c;
	border-radius: 10px;
	height: 30px;
	width: 100%;
	padding-left: 2px;
	margin-top: 10px;
}

.login-register-box button {
	/* background-color: rgb(0, 162, 255);
	color: white; */
	color: #ecda71;
    background-color: #452716;

	font-weight: bold;
	border: none;
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	height: 30px;

	border-style: solid;
    border-width: 1px;
    border-color: #d2bc6c;
}

.login-register-box > form > ul {
	color: white;
	background-color: #534b45;
	
}

.second-option {
	text-align: center;
	padding: 20px;

	color: white;
	font-family: 'MedievalSharp', sans-serif;
}

.account-delete-box {
	display: block;
	width: 700px;
	

    background-image: url('../images/warrior-defeated.jpg');
    background-position: center;
	background-size: 120%;

	
	padding: 80px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: 1px solid;
	box-shadow: 1px 2px 3px #888888;

	border-style: double;
    border-width: 5px;
    border-color: #d2bc6c;
	/* border-color: #452716; */
	border-radius: 15px;

    margin-left: auto;
    margin-right: auto;
	

}

.account-delete-box button {

	display: block;
	margin-left: auto;
    margin-right: auto;
	color: #ecda71;
    background-color: #452716;

	font-weight: bold;
	border: none;
	width: 50%;

	border-radius: 10px;
	margin-top: 10px;
	height: 30px;

	border-style: solid;
    border-width: 1px;
    border-color: #d2bc6c;
}

.account-delete-box h1 {
	font-family: 'MedievalSharp', sans-serif;
	font-size: 40px;
	text-align: center;
	margin-top: -10px;

	padding: 40px;

	color: rgb(216, 62, 41);
	
}


.password-change-div {
	margin-top: 14%;

    display: block;
}

.password-change-box {
	display: block;
	width: 700px;
	

    background-image: url('../images/pass_change.jpg');
    background-position: center;
	background-size: 120%;

	
	padding: 80px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: 1px solid;
	box-shadow: 1px 2px 3px #888888;

	border-style: double;
    border-width: 5px;
    border-color: #d2bc6c;
	
	border-radius: 15px;

    margin-left: auto;
    margin-right: auto;
}

.password-change-box label {
	display: none;
}

.password-change-box h1 {
	font-family: 'MedievalSharp', sans-serif;
	font-size: 40px;
	text-align: center;
	margin-top: -10px;

	color: white;
	
}
.password-change-box input {
	display: block;
	margin-left: auto;
    margin-right: auto;
	background-color: rgb(240, 230, 230);
	opacity: 80%;

	border: 0.1px solid #d2bc6c;
	border-radius: 10px;
	height: 30px;
	width: 50%;
	padding-left: 2px;
	margin-top: 10px;
}

.password-change-box  form  ul {
	color: white;
	text-align: center;

	
}

.password-change-box button {

	display: block;
	margin-left: auto;
    margin-right: auto;

	color: #ecda71;
    background-color: #452716;

	font-weight: bold;
	border: none;
	width: 50%;
	border-radius: 10px;
	margin-top: 10px;
	height: 30px;

	border-style: solid;
    border-width: 1px;
    border-color: #d2bc6c;
}

 .password-change-success{
	text-align: center;
	font-family: 'MedievalSharp', sans-serif;
	color: rgb(82, 129, 38);
	font-size: 50px;
	-webkit-text-stroke: 1px #452716; 

}

.password-change-success-redirect {
	text-align: center;
	font-size: 20px;
	margin-top: 50px;
	color: #452716;
}

.password-change-success-redirect a {
	text-decoration: none;
	color: #452716;
}

.password-change-success-redirect a:hover {
	
	color: rgb(82, 129, 38);
}


/* edit */

.account-edit-box  {
	display: block;
	width: 500px;

    background-image: url('../images/edit-profile.jpg');
    background-position: center;
	background-size: 170%;

	border: 1px solid rgb(156, 152, 152);
	padding: 60px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: 1px solid;
	box-shadow: 1px 2px 3px #888888;

	border-style: double;
    border-width: 5px;
    /* border-color: #d2bc6c; */
	border-color: #452716;
	border-radius: 15px;

    margin-left: auto;
    margin-right: auto;
}

.account-edit-box h1 {
	font-family: 'MedievalSharp', sans-serif;
	font-size: 30px;
	text-align: center;
	margin-top: -25px;

	color: white;
	
}

.account-edit-box label {
	color: white;
}

.account-edit-box .helptext {
	color: white;
	display: none;
}


.account-edit-box input {
	background-color: rgb(240, 230, 230);
	opacity: 80%;

	border: 0.1px solid #d2bc6c;
	border-radius: 10px;
	height: 30px;
	width: 100%;
	padding-left: 2px;
	margin-top: 10px;
}

.account-edit-box textarea {
	background-color: rgb(240, 230, 230);
	opacity: 80%;

	border: 0.1px solid #d2bc6c;
	border-radius: 10px;
	height: 80px;
	width: 100%;
	padding-left: 2px;
	margin-top: 10px;
}

#id_is_public {
	display: inline-block;
	height: 10px;
	color: white;
	width: 7%;
}

#id_profile_picture {
	width: 100%;
	height: 25px;
	
}

.account-edit-box button {
	display: block;
	margin-left: auto;
	margin-right: auto;

	color: #ecda71;
    background-color: #452716;

	font-weight: bold;
	border: none;
	width: 50%;
	border-radius: 10px;
	margin-top: 10px;
	height: 30px;

	border-style: solid;
    border-width: 1px;
    border-color: #d2bc6c;
}

.account-edit-box > form > ul {
	color: white;
	background-color: #534b45;
	
}