{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Create Guild</title>
{% endblock %}

{% block content %}

    <div class="guild-div">
        <div class="guild-box">

            <h1> Establish your new Guild</h1>

            <form action="{% url 'create-guild' %}" method="post" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <button>Create your guild</button>
            </form>
        </div>
    </div>

{% endblock %}