{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>My Guilds</title>
{% endblock %}

{% block content %}

    <div class="game-container">

        <div class="greathall-list">

            {% if buddy.has_guild %}
                <table id="guild-table">

                    <tr id="table-header">
                        <td> </td>
                        <td>Guild name</td>
                        <td>Members</td>
                        <td>Owned games</td>
                        <td>Messages</td>
                    </tr>


                    {% for guild in guilds %}
                        <tr id="guild_{{ guild.pk }}">
                            <td id="guild_photo_id">
                                <a href="{% url 'details-guild' guild.slug %}">
                                    {% if guild.guild_picture %}
                                        <img id="my-guild-image" src="/media/{{ guild.guild_picture }}" alt="guild_photo">
                                    {% else %}
                                        <img id="my-guild-image" src="{% static 'images/no_guild_image.png' %}" alt="guild_photo">
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ guild.guild_name }}</td>
                            <td>{{ guild.members.count }}</td>
                            <td>{{ guild.list_of_owned_games.count }}</td>
                            <td>{{ guild.guildmessage_set.count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h1>You are lonely adventurer in this world....</h1>

                <h2> Do you want to establish your company?</h2>
            {% endif %}

            <button><a href="{% url 'create-guild' %}">Establish a new guild</a></button>


        </div>


    </div>

{% endblock %}